.container {
	padding: 0 15px;

	.subHeader {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 15px;

		.receiptDate {
			display: flex;
			gap: 11px;
			align-items: center;

			& p {
				color: #1a365d;
			}
		}

		.receiptValue {
			color: #1a365d;
			font-size: 24px;
			font-weight: 900;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.inputsContainer {
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 8px;
			padding: 6px 8px;
			border-radius: 8px;
			background-color: #f7fafc;

			div {
				display: flex;
				flex-direction: column;
			}

			label {
				font-size: 12px;
				color: #1a365d;
			}

			input,
			select {
				max-width: 317px;
				width: 100%;
				height: 38px;
				border: 1px solid #edf2f7;
			}

			.pricesInputsContainer {
				align-items: center;
				flex-direction: row;
				gap: 3px;
				font-size: 12px;

				input {
					width: 90px;
				}
			}
		}

		.trashIcon {
			position: absolute;
			bottom: 15px;
			right: 15px;
			cursor: pointer;
		}
	}

	.buttonsContainer {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		height: 10vh;
		p {
			position: absolute;
			top: 5px;
			left: 5px;
		}
	}
}
