@import "@/styles/colors";
@import "@/styles/fonts";

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.goBack {
	align-self: start;
	margin-bottom: 24px;
}

.heading {
	display: flex;
	flex-direction: column;
	gap: 16px;

	& .header {
		text-align: center;
		color: $color-blue-900;
	}

	& .info {
		display: inline-flex;
		align-items: center;
		gap: 10px;

		& svg {
			width: 25px;
			height: 25px;
			flex-shrink: 0;
		}

		& p {
			color: $color-typo;
		}
	}
}

.divider {
	font-size: $text-medium;
	color: $color-gray-400;
}

.buttonsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	width: 100%;
}

.error {
	font-size: $text-small;
	font-weight: $text-regular;
	color: $color-error;
}

.haveAccount {
	display: flex;
	gap: 4px;

	& p {
		font-size: $text-small;
		color: $color-typo;
	}
	& a {
		font-size: $text-small;
		color: $color-cyan-600;
	}
}
