$color-cyan-600: #00a3c4;
$color-blue-800: #1e40af;
$color-blue-900: #1a365d;
$color-gray-100: #edf2f7;
$color-gray-400: #a1a1aa;
$color-gray-500: #71717a;
$color-gray-600: #4a5568;
$color-typo: #372d2d;
$color-white: #fff;
$color-black: #000;
$color-error: #d46805fa;
