$text-small: 12px;
$text-medium: 16px;
$text-large: 18px;

$heading-1: 48px;
$heading-2: 38px;
$heading-3: 32px;
$heading-4: 28px;
$heading-5: 22px;
$heading-6: 18px;

$text-regular: 400;
$text-bold: 600;
$text-extra-bold: 700;
