* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
}

html,
body {
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
}

input,
select {
	border: 1px solid #edf2f7;
	border-radius: 8px;
	width: 216px;
	padding: 5px 10px;
	font-size: 12px;
}

button {
	border: none;
	/* padding: 10px 100px; */
	border-radius: 45px;
	background-color: #1a365d;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
