.header {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 390px;
	width: 100%;
	padding: 36px 15px 26px;
	background-color: #fff;
	z-index: 999;

	.nav {
		display: flex;
		justify-content: space-between;
	}
}
