@import "@/styles/colors";
@import "@/styles/fonts";

.formField {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;

	& label {
		font-size: $text-small;
		font-weight: $text-regular;
		color: $color-blue-900;
	}

	& input {
		width: 100%;
		height: 44px;
		padding: 5px 10px;
		border: 1px solid $color-gray-600;
		border-radius: 8px;

		&::placeholder {
			color: $color-gray-400;
		}

		&:focus-within,
		&:focus-visible {
			border-color: $color-cyan-600;
			outline: none;
		}
	}

	& .error {
		font-size: $text-small;
		font-weight: $text-regular;
		color: $color-error;
	}
}
